pkgbase = umu-launcher
	pkgdesc = This is the Unified Launcher for Windows Games on Linux, to run Proton with fixes outside of Steam
	pkgver = 1.1.3
	pkgrel = 1.1
	url = https://github.com/Open-Wine-Components/umu-launcher
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = scdoc
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	depends = bash
	depends = curl
	depends = dbus
	depends = diffutils
	depends = glibc
	depends = gcc-libs
	depends = libxcrypt
	depends = lsof
	depends = python
	depends = python-xlib
	depends = python-filelock
	source = git+https://github.com/Open-Wine-Components/umu-launcher.git#tag=1.1.3
	sha256sums = 14561329686b0fe4b9950841c50bf67b9419384dc25b0449064cece467a03209

pkgname = umu-launcher
