pkgbase = omarchy
	pkgdesc = Beautiful, Modern & Opinionated Arch Linux by DHH
	pkgver = 3.2.0
	pkgrel = 1
	url = https://github.com/basecamp/omarchy
	install = omarchy.install
	arch = any
	license = MIT
	depends = omarchy-settings
	depends = hyprland
	depends = waybar
	depends = hypridle
	depends = hyprlock
	depends = hyprsunset
	depends = swaybg
	depends = swayosd
	depends = mako
	depends = uwsm
	depends = omarchy-walker
	depends = ghostty
	depends = bash-completion
	depends = starship
	depends = neovim
	depends = mise
	depends = ripgrep
	depends = fzf
	depends = fd
	depends = eza
	depends = bat
	depends = zoxide
	depends = jq
	depends = polkit-gnome
	depends = gnome-keyring
	depends = plymouth
	depends = xdg-desktop-portal-hyprland
	depends = xdg-desktop-portal-gtk
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = ttf-jetbrains-mono-nerd
	depends = gvfs-mtp
	depends = gvfs-smb
	depends = wireplumber
	depends = playerctl
	depends = pamixer
	depends = iwd
	depends = wireless-regdb
	depends = avahi
	depends = nss-mdns
	depends = grim
	depends = slurp
	depends = satty
	depends = wayfreeze
	depends = gpu-screen-recorder
	depends = gum
	depends = fastfetch
	depends = brightnessctl
	depends = power-profiles-daemon
	optdepends = 1password: Password manager
	optdepends = 1password-cli: 1Password CLI
	optdepends = github-cli: GitHub CLI tool
	optdepends = lazygit: Terminal UI for git
	optdepends = lazydocker: Terminal UI for docker
	optdepends = omarchy-chromium: Customized Chromium browser
	optdepends = signal-desktop: Encrypted messaging
	optdepends = spotify: Music streaming
	optdepends = obsidian: Note-taking app
	optdepends = typora: Markdown editor
	optdepends = libreoffice: Office suite
	optdepends = obs-studio: Screen recording and streaming
	optdepends = mpv: Video player
	optdepends = imv: Image viewer
	optdepends = kdenlive: Video editor
	optdepends = pinta: Image editor
	optdepends = btop: System monitor
	optdepends = cups: Printing support
	optdepends = system-config-printer: Printer configuration
	optdepends = asdcontrol: Apple display brightness control
	optdepends = blueberry: Bluetooth manager
	optdepends = cargo: Rust package manager
	optdepends = clang: C/C++ compiler
	optdepends = python-poetry-core: Python packaging
	optdepends = tree-sitter-cli: Parser generator tool
	provides = omarchy
	source = omarchy-installer::git+https://github.com/basecamp/omarchy.git
	sha256sums = SKIP

pkgname = omarchy
