pkgbase = asdcontrol
	pkgdesc = Control brightness on Apple Displays connected via USB-C
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/omakasui/asdcontrol
	install = asdcontrol.install
	arch = x86_64
	license = GPL2
	makedepends = make
	makedepends = gcc
	depends = glibc
	depends = gcc-libs
	source = asdcontrol-0.6.0.tar.gz::https://github.com/omakasui/asdcontrol/archive/refs/tags/v0.6.0.tar.gz
	sha256sums = 3112a6d5fc51a204c96ef9d27187577c6efc80b952e37a77969efbd0124e81d3

pkgname = asdcontrol
