pkgbase = 1password-beta
	pkgdesc = Password manager and secure wallet
	pkgver = 8.12.12_43.BETA
	pkgrel = 43.1
	url = https://1password.com
	install = 1password.install
	arch = x86_64
	arch = aarch64
	license = LicenseRef-1Password-Proprietary
	conflicts = 1password
	conflicts = 1password-beta-bin
	options = !strip
	validpgpkeys = 3FEF9748469ADBE15DA7CA80AC2D62742012EA22
	source_x86_64 = https://downloads.1password.com/linux/tar/beta/x86_64/1password-8.12.12-43.BETA.x64.tar.gz
	source_x86_64 = https://downloads.1password.com/linux/tar/beta/x86_64/1password-8.12.12-43.BETA.x64.tar.gz.sig
	sha256sums_x86_64 = 74c9d8330f9e8316595d1d3710184ec8bde67518e9d27caec4befc7952a4947b
	sha256sums_x86_64 = 9b48e299bd2ba6aa034668261683494d5e1c3e1e465750adaa91e3d94e8e840d
	source_aarch64 = https://downloads.1password.com/linux/tar/beta/aarch64/1password-8.12.12-43.BETA.arm64.tar.gz
	source_aarch64 = https://downloads.1password.com/linux/tar/beta/aarch64/1password-8.12.12-43.BETA.arm64.tar.gz.sig
	sha256sums_aarch64 = 9e07b88d3f0cf17d8b475f2f1df65346720471fc558276dc1efbc025cbde6712
	sha256sums_aarch64 = 2bc26e69738bbfe78390574e40767e1fc028e289536f0b0ecb9e488a5bf12713

pkgname = 1password-beta
	depends = hicolor-icon-theme
	depends = libgtk-3.so=0
	depends = nss
	depends = xdg-utils
