pkgbase = xdg-terminal-exec
	pkgdesc = Proposed standard to launching desktop apps with Terminal=true
	pkgver = 0.13.3
	pkgrel = 1
	url = https://gitlab.freedesktop.org/Vladimir-csp/xdg-terminal-exec
	arch = any
	license = GPL-3.0-or-later
	checkdepends = bats
	makedepends = scdoc
	source = xdg-terminal-exec-0.13.3::https://gitlab.freedesktop.org/Vladimir-csp/xdg-terminal-exec/-/archive/v0.13.3/xdg-terminal-exec-v0.13.3.tar.gz
	sha256sums = 4c8db6be925a5260683a20870d470e6d0deca427e5efce0c322374502eb9b184
	b2sums = 20a6920503f6a364b460b892fd11c0307725bee4a137c230f6ddddaf5c23eddf3aa4d2aec649e7a134f67b6597a8057fcd4646c9aec3071493596415ff9872ea

pkgname = xdg-terminal-exec
