pkgbase = dell-xps-touchpad-haptics
	pkgdesc = Synaptics haptic touchpad presets for Dell XPS on Omarchy
	pkgver = 1.0.0
	pkgrel = 2
	url = https://github.com/omacom-io/omarchy-pkgs
	install = dell-xps-touchpad-haptics.install
	arch = x86_64
	license = MIT
	depends = python
	provides = omarchy-dell-haptic-touchpad
	conflicts = omarchy-dell-haptic-touchpad
	replaces = omarchy-dell-haptic-touchpad
	options = !debug
	source = 99-dell-xps-touchpad-haptics.rules
	source = README.package.md
	source = dell-xps-touchpad-haptics
	source = dell-xps-touchpad-haptics-daemon
	source = dell-xps-touchpad-haptics.install
	source = dell-xps-touchpad-haptics.service
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = dell-xps-touchpad-haptics
