[Unit]
Description=Dell XPS touchpad haptics
After=systemd-udev-settle.service

[Service]
Type=simple
SyslogIdentifier=dell-xps-touchpad-haptics
EnvironmentFile=-/etc/dell-xps-touchpad-haptics.env
ExecStart=/usr/bin/dell-xps-touchpad-haptics-daemon
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
