pkgbase = omarchy-dell-haptic-touchpad
	pkgdesc = Configurable Dell XPS haptic touchpad override for Omarchy
	pkgver = 0.2.0
	pkgrel = 2
	url = https://github.com/jacob-vincent-mink/omarchy-dell-haptic-touchpad
	install = omarchy-dell-haptic-touchpad.install
	arch = any
	license = MIT
	depends = python
	depends = sudo
	options = !debug
	source = omarchy-haptic-touchpad-user
	source = omarchy-update-dell-haptic.sh
	source = omarchy-dell-haptic-touchpad.install
	source = README.package.md
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = omarchy-dell-haptic-touchpad
