pkgbase = xdg-terminal-exec
	pkgdesc = Proposed standard to launching desktop apps with Terminal=true
	pkgver = 0.14.0
	pkgrel = 1
	url = https://gitlab.freedesktop.org/Vladimir-csp/xdg-terminal-exec
	arch = any
	license = GPL-3.0-or-later
	checkdepends = bats
	makedepends = scdoc
	source = xdg-terminal-exec-0.14.0::https://gitlab.freedesktop.org/Vladimir-csp/xdg-terminal-exec/-/archive/v0.14.0/xdg-terminal-exec-v0.14.0.tar.gz
	sha256sums = c37ff16292f7d3e79c97099c4cf1ca5c1f47fb2f1d3e8754126659b045ccbbac
	b2sums = 806acdfb1ffa83c339e07a802d8496ea162a943114dbc39c44df9ef04a6383067a5a5fdcf8a2ad472fef91c735d44f16676c000f0a105fefb469311626131744

pkgname = xdg-terminal-exec
