pkgbase = tobi-try
	pkgdesc = Fresh directories for every vibe.
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/tobi/try
	arch = aarch64
	arch = x86_64
	license = MIT
	depends = ruby
	provides = try
	conflicts = try
	options = !debug
	source = try-0.1.0.rb::https://raw.githubusercontent.com/tobi/try/c3693e31e59357ea687a4b3ef0ac937ff653cc93/try.rb
	sha256sums = SKIP

pkgname = tobi-try
